<div class="container-fluid mt-3">
  <div class="main-menu">
    <div>
      <form [formGroup]="fgComponent" (submit)="onSubmit()">
        <div class="mb-3">
          <label for="" class="form-label">Cantidad de Filas y Columnas</label>
          <input type="number" class="form-control" formControlName="sizeTable">
        </div>
        <div class="mb-3">
          <label for="" class="form-label">Cantidad de Pozos</label>
          <input type="number" class="form-control" formControlName="wells">
        </div>
        <div class="mb-3">
          <label for="" class="form-label">Cantidad de Flechas</label>
          <input type="number" class="form-control" formControlName="arrows">
        </div>
        <button class="btn btn-primary" type="submit">Jugar</button>
      </form>
    </div>
  </div>
</div>
